* {
	box-sizing: border-box;
}

html {
	background: #00296d;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	max-width: 65em;
	margin: 0em auto;
}

section {
	padding: 3em 1em 1em;
	width: 100%;
	background:#3AFFFF;
}

tbody tr:nth-child(even) { 
  background-color: #e4ebf2; 
  color: #000; 
}
th[scope=row] { 
  color: #c32e04;
  text-align: right; 
}
tbody tr:hover, tfoot tr:hover { 
  background-color:#fffbf0;
}

tbody td:hover, tfoot td:hover { 
  background-color: #fce4a2; 
}

img {
	border: none;
}

h1 {
	color: #00296d;
	padding: 0.5em;
	font-size: 2.5em;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 0.5em 0;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}





/*DL, DT, DD Datenliste*/

dt {
	float: left;
	clear: left;
	width: 130px;
	font-size: 1em;
	font-weight: bold;
}

dd {
	margin: 0 0 5px 135px;
	padding: 0 0 0.5em 0;
	font-size: 1.5em;
}
 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
} 
	.link:hover {cursor: default;  text-decoration: none;}
	.link:visited { text-decoration: none;}
	.link:link {text-decoration: none;}
	.link:active { text-decoration: none:}
	.link {color:black;}


